<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Hopark</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item">
            <a href="#" class="nav-link">Usuario</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Buscar Estacionamiento</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Estacionamiento Favorito</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Monedero</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Ayuda</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Configuración</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Configuración</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Cerrar sesion</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/signin" class="nav-link">Ingresar</a>
          </li> 
          <li class="nav-item">
            <a href="/signup" class="nav-link">Registrarase</a>
          </li> 
        {{/if}}
      </ul>
    </div>
  </div>
</nav>